<template>
  <base-layout title="Документы">
    <template #actions>
      <button-default
        class="action-button"
        icon="mdi mdi-bookmark-outline"
        icon-only
      />
      <button-default class="action-button" icon="mdi mdi-plus">Новый тип</button-default>
      <button-default class="action-button" icon="mdi mdi-plus">Новый документ</button-default>
    </template>
    <search-field class="search" v-model="searchQuery" />
    <template v-if="searchFilteredData.length">
    <documents-list :items="sortedData" class-name="list-root" group="groups" />
    <documents-list :items="unsortedData" class-name="list-usorted" group="items" />
    </template>
    <template v-else>
      <div class="empty-message">Ничего не найдено. Попробуйте изменить параметры поиска.</div>
    </template>
  </base-layout>
</template>

<script>
import BaseLayout from "../layouts/BaseLayout.vue";
import ButtonDefault from "../components/ButtonDefault.vue";
import SearchField from "../components/SearchField.vue";
import DocumentsList from "../components/DocumentsList.vue"

export default {
  name: "Documents",
  components: { BaseLayout, ButtonDefault, SearchField, DocumentsList },
  data() {
    return {
      searchQuery: "",
      data: [
        {
          is_group: true,
          name: "Обязательные для всех",
          tags: ["yellow"],
          required: false,
          description: "Документы, обязательные для всех сотрудников без исключения",
          expanded: true,
          items: [
            {
              name: "Пасспорт",
              tags: ["red", "blue"],
              required: true,
              description: "Для всех",
            },
            {
              name: "ИНН",
              tags: [],
              required: true,
              description: "Для всех",
            },
          ],
        },
        {
          is_group: true,
          name: "Обязательные для трудоустройства",
          tags: [],
          required: false,
          description: "Документы, без которых невозможно трудоустройство человека на какую бы то ни было должность в компании вне зависимости от граж",
          expanded: false,
          items: []
        },
        {
          is_group: true,
          name: "Специальные",
          tags: [],
          required: false,
          description: "",
          expanded: false,
          items: []
        },        
        {
          name: "Тестовое задание кандидата",
          tags: ["red", "blue"],
          required: false,
          description: "Россия, Белоруссия, Украина, администратор филиала, повар-сушист, повар-пиццмейкер, повар горячего цеха"
        },
        {
          name: "Мед. книжка",
          tags: [],
          required: false,
          description: "",
        },
      ]
    };
  },
  computed: {
    searchFilteredData() {
      const search = this.searchQuery.trim().toLowerCase()
      const newData = [];

      this.data.forEach(item => {
        let newItem = { ...item };

        if (item.is_group) {
          newItem.items = newItem.items.filter(childItem => childItem.name.toLowerCase().includes(search))
        }
        
        if (item.name.toLowerCase().includes(search) || (newItem.items && newItem.items.length > 0)) {
          newData.push(newItem);
        }
      })

      return newData;
    },
    sortedData() {
      return this.searchFilteredData.filter(item => item.is_group)
    },
    unsortedData() {
      return this.searchFilteredData.filter(item => !item.is_group)
    }
  }
};
</script>

<style lang="scss" scoped>
.action-button:not(:last-child) {
  margin-right: 10px;
}

.search {
  width: 50%;
  margin-bottom: 19px;
}

.empty-message {
  font-size: 15px;
  color: #8E9CBB;
}
</style>