<template>
  <button 
    class="button" 
    :class="{ 'icon-only': iconOnly }"
    @click="onClick"
  >
    <i v-if="icon" :class="icon" />
    <span v-if="!iconOnly"><slot /></span>
  </button>
</template>

<script>
export default {
  name: "ButtonDefault",
  props: {
    iconOnly: Boolean,
    icon: String,
    disabled: Boolean
  },
  methods: {
    onClick() {
      if (!this.disabled) {
        this.$emit('click')
      }
    }
  }
};
</script>

<style lang="scss" scoped>
  .button {
    background: #fff;
    border: 1px solid #d3d8df;
    border-radius: 15px;
    height: 30px;
    box-sizing: border-box;
    padding: 0 5px;

    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all .2s ease;

    &:hover {
      border-color: #9DA4AC;
    }

    span {
      display: inline-block;
      margin: 0 12px 0 8px;
      font-weight: 500;
      font-size: 12px;
    }

    i {
      position: relative;
      top: 0.5px;
      font-size: 18px;
      color: #0066FF;
    }

    &.icon-only {
      width: 30px;
      padding: 0;
      text-align: center;

      i {
        color: #8E9CBB;
      }
    }
  }
</style>