<template>
  <draggable 
    :class="className" 
    tag="div" 
    :lists="data" 
    handle=".handle"
    :group="{ name: group }"
    animation="150"
    :force-fallback="true"
    :swap-threshold=".75"
  >
    <template v-for="item, n in data">
      <div
        :key="n"
        class="document-wrapper"
        :class="{
          expanded: item.expanded
        }"
      >
        <div :class="getItemClass(item)">
          <div class="description">
            <div
              class="chevron"
              v-if="item.is_group"
              @click="item.expanded = !item.expanded"
            >
              <i class="mdi mdi-chevron-down" />
            </div>
            <div class="title">{{ item.name }}</div>
            <ul class="tags" v-if="item.tags.length">
              <li v-for="(tag, n) in item.tags" :key="n" :class="tag"></li>
            </ul>
            <div class="required" v-if="item.required">Обязательный</div>
            <div class="description">{{ item.description }}</div>
          </div>
          <div class="actions">
            <button><i class="mdi mdi-square-edit-outline" /></button>
            <button class="danger">
              <i class="mdi mdi-trash-can-outline" />
            </button>
            <button class="handle">
              <i class="mdi mdi-arrow-split-horizontal" />
            </button>
          </div>
        </div>
        <documents-list :items="item.items" class-name="items" group="items" v-if="item.is_group" />
      </div>
    </template>
  </draggable>
</template>

<script>
import draggable from 'vuedraggable';

export default {
  name: "DocumentsList",
  props: {
    items: Array,
    className: String,
    group: String
  },
  data() {
    return {
      data: [...this.items]
    }
  },
  components: { draggable },
  methods: {
    getItemClass(item) {
      return item.is_group ? "document-category" : "document-item";
    }
  },
  watch: {
    items(value) {
      this.data = [...value]
    }
  }
};
</script>


<style lang="scss">
.document-category,
.document-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dfe4ef;
  background: #fff;
  padding: 0 16px;
  height: 48px;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease, opacity 0.2s ease;

  .description {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

    overflow: hidden;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 50px;
      background: linear-gradient(
        270deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 50%
      );
    }

    .chevron {
      height: 22px;
      width: 22px;
      box-sizing: border-box;

      border: 1px solid #d3d8df;
      border-radius: 50%;
      text-align: center;
      line-height: 22px;

      margin-right: 14px;

      cursor: pointer;

      &:hover {
        border-color: #9da4ac;
      }

      i {
        font-size: 14px;
        color: #0066ff;

        &:before {
          transition: all 0.2s ease;
          transform-origin: center;
        }
      }
    }

    .title {
      font-size: 15px;
      font-weight: 500;
      margin-right: 16px;
      white-space: nowrap;
    }

    .tags {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-right: 15px;

      li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #000;

        &:not(:last-child) {
          margin-right: 6px;
        }

        &.red {
          background: #ff238d;
        }

        &.yellow {
          background: #ffb800;
        }

        &.blue {
          background: #00c2ff;
        }
      }
    }

    .required {
      color: #ff238d;
      font-size: 11px;
      margin-right: 16px;
    }

    .description {
      font-size: 11px;
      color: #8e9cbb;
      white-space: nowrap;
    }
  }

  .actions {
    white-space: nowrap;

    button {
      border: 0;
      background: transparent;
      padding: 0;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 16px;
      }

      i {
        font-size: 18px;
        color: #8e9cbb;
        transition: all 0.2s ease;
      }

      &:hover i {
        color: #0066ff;
      }

      &.danger i {
        color: #ff238d;
      }
    }

    .handle {
      cursor: grab;
    }
  }
}

.document-item {
  height: 35px;

  .description .title {
    font-weight: 400;
    font-size: 13px;
  }
}

.document-wrapper {
  .items {
    background: #fff;
    overflow: hidden;
    padding-left: 16px;
    max-height: 0;
    min-height: 0;
    transition: max-height 0.5s ease-in-out, min-height 0.2s ease-in-out;

    .document-wrapper:first-child .document-item {
      border-top-width: 0;
    }

    .document-item {
      border-bottom-width: 0;
    }
  }

  &:last-child .items .document-wrapper:last-child .document-item {
    border-bottom-width: 1px;
  }

  &.expanded {
    .document-category {
      .description .chevron i:before {
        transform: rotate(180deg);
      }
    }

    .items {
      max-height: 200px;
      min-height: 10px;
    }
  }

  &.sortable-ghost {
    & > div:not(.items) {
      border-top: 5px solid #0066FF !important;

      & * {
        opacity: .5;
      }
    }
  }

  &.sortable-fallback {
    box-shadow: 0px 3px 16px 0px #0066FFB2;
    opacity: 1 !important;
  }
}

.list-root .document-wrapper:not(:last-child):not(.expanded) .document-category {
  border-bottom: 0;
}

.list-usorted {
  margin-top: 14px;

  .document-wrapper:not(:last-child) .document-item {
    border-bottom: 0;
  }
}
</style>