<template>
  <div class="search-field">
    <i class="mdi mdi-magnify magnify"/>
    <input
      type="text"
      placeholder="Поиск"
      ref="input"
      @input="onInput"
      @change="onChange"
      :value="computedValue"
    />
    <button class="clear" v-if="computedValue" @click="clear">
      <i class="mdi mdi-close"/>
    </button>
  </div>
</template>

<script>
export default {
  name: 'SearchField',
  props: {
    value: String,
  },
  data() {
    return {
      newValue: this.value,
    }
  },
  methods: {
    onInput(event) {
      const value = event.target.value;
      this.updateValue(value);
    },
    onChange(event) {
      const value = event.target.value;
      this.updateValue(value);
    },
    clear() {
      this.updateValue('')
      
      this.$nextTick(() => {
          this.$refs.input.focus()
      })
    },
    updateValue(value) {
      this.computedValue = value;
    },
  },
  computed: {
    computedValue: {
      get() {
        return this.newValue;
      },
      set(value) {
        this.newValue = value;
        this.$emit("input", value);
      },
    },
  },
  watch: {
    value(value) {
      this.newValue = value;
    }
  }
}
</script>

<style lang="scss" scoped>
  .search-field {
    height: 36px;
    border-bottom: 1px solid #BFC9E0;
    position: relative;
    
    .magnify,
    .clear {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .magnify {
      left: 0;
      color: #8E9CBB;
      font-size: 20px;
    }

    .clear {
      right: 0;
      border: 0;
      padding: 0;
      background: transparent;
      cursor: pointer;

      i {
        font-size: 18px;
        color: #FF238D;
      }
    }

    input {
      box-sizing: border-box;
      border: 0;
      border-radius: 0;
      padding: 0;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 36px;
      
      padding: 0 26px;
      line-height: 36px;

      background: transparent;
      color: #000;
      font-size: 15px;

      &::placeholder {
        color: #8E9CBB;
        font-style: italic;
      }
    }
  }
</style>