@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,400&display=swap');

body {
  background-color: #fff;
  color: #000;
  
  font-size: 15px;
  font-weight: 400;
}

body, button, input, select {
  font-family: 'Fira Sans', Arial, sans-serif;
}

input, select, button {
  outline: none;
}