<template>
  <div id="layout">
    <div id="header">
      <div class="title">{{ title }}</div>
      <div class="actions">
        <slot name="actions" />
      </div>
    </div>
    <div id="container">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseLayout',
  props: {
    title: String,
  }
}
</script>

<style lang="scss">
  #layout {
    padding: 30px;

    #header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .title {
        font-weight: 500;
        font-size: 22px;
      }

      .actions {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
      }
    }

    #container {
      margin-top: 10px;
    }
  }
</style>